.mypageDownload{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 5%;
    margin: 3%;
}

.mypageDownload-container{
    display: flex;
    flex-direction: row;
    font: 1.3rem bolder;
    aspect-ratio: 3.3/1;
    background-color: #fff;
    border-radius: 2rem;
    padding: 3%;
    margin: 4%;
}

.mypageDownload-container-inf{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}

.download-icons{
    aspect-ratio: 1/1;
    width: 20%;
    margin: 1%;
}