.mypageprofile{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 5%;
    margin: 3%;
}

.mypageprofile-container{
    font: 1.3rem bolder;
}

.mypageprofile-box{
    background-color: #fff;
    height: 4rem;
    border-radius: 1rem;
    margin: 3%;
    padding: 3%;
}

.mypageprofile-box-reputation{
    border-radius: 1rem;
    margin: 3%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.reputation{
    border-radius: 10px;
    font: 1rem bold;
    background-color: #fff;
    width: 40%;
    padding: 3%;
}
.mypageprofile-box input {
    width: 100%;
    height: 100%;
    border: none;
    font: 1.3rem bold;
}
