.mypagewrite{
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 3%;
}

.mypagewrite-container{
    display: flex;
    flex-direction: row;
    font: 1.3rem bolder;
    aspect-ratio: 4/1;
    background-color: #fff;
    border-radius: 2rem;
    padding: 3%;
    margin: 4%;
}

.mypagewrite-container-inf{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}